
<title>这是首页</title>
{include file="/public/head"}
<style>
	.index_content{
		width: 800px;
		margin: 0 auto;
		height:300px;
		position: relative;
		text-align: center;
	}
	.index_img{
	    position: absolute;
	    margin-left: -43px;
	}
	.index_btn{
		background-image: url('__PUBLIC__/assets/img/anniu_beijing.png');
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateY(-50%);
	}
</style>
</head>
<body>
	<div class="index_content">
		<!-- <img class="index_img" src="__PUBLIC__/assets/img/chahua2.png" />
		<img src="__PUBLIC__/assets/img/title.png" /> -->
		<button style="width: 200px;margin: 0 auto;font-weight: bold;" class="btn btn-block btn-info btn-lg index_btn entrance">入口</button>
	</div>


<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-3.3.1.min.js" ></script>
</body>
<script>
var check = '<?php echo $is_login;?>';//没登陆

$(".entrance").click(function(){
	if(check == 0){
		layer.ready(function(){ 
			layer.open({
			    	type: 2,
			    	title: '寻人启事',
			    	maxmin: true,
			    	area: ['800px', '450px'],
			    	content: "{:url('hanshou/index/chatbox')}",
			    	end: function(){
			    		$.ajax({
			    			type:"get",
			    			url:"{:url('hanshou/index/lookornot')}",
			    			async:true,
			    			success:function(data){
			    				if(data[0] == '101' && data[1] == 0){
			    					window.location.href = "{:url('hanshou/vocabulary/vocabulary')}";
			    				}else if(data[0] == '101' && data[1] == 1){
			    					window.location.href = "{:url('hanshou/letter/letter')}";//信件页面
			    				}else{
			    					layer.msg(data[1]);
			    				}
			    			}
			    		});
			    	}
			  	});
			});
	}else{
		window.location.href = "{:url('hanshou/vocabulary/vocabulary')}";
	}
})
</script>
</html>
