<aside class="main-sidebar" style="padding-top: 0px;">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar" style="height: auto;padding-top: 50px;">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="__PUBLIC__/assets/img/mmexport1518176423879.jpg" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>狗哥</p>
			</div>
		</div>
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu tree" data-widget="tree">
			<li class="header">地图</li>
			<li>
				<a href="{:url('hanshou/map/dao')}"><i class="fa fa-circle-o"></i>导入excel</a>
			</li>
			<li>
				<a href="{:url('hanshou/map/map2')}"><i class="fa fa-circle-o"></i>数据处理</a>
			</li>
			<li>
				<a href="{:url('hanshou/map/map')}"><i class="fa fa-circle-o"></i>标记点连线</a>
			</li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>